html,
/* All code was written by me, referenced previous assignments such as object meditation and used some attributes
from W3Schools. */
body {
  font-family: 'Press Start 2P', cursive;
  margin: 0px;
  background-color: black;
  max-height: 942px;
}

p {
  line-height: 150%;
  color: white;
  position: absolute;
  border: 10px solid white;
  padding: 30px;
  background-color: black;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 37%;
  bottom: 0%;
}

#void {
  margin-top: 58%;
  width: 80%;
  left: 10%;
}

.natureCSS {
  border: 10px solid white;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#ex {
  display: none;
  width: 3%;
  margin-top: 32.5%;
  left: 95.7%;
}

#aboutme, #games, #youtubedesc, #skills {
  display: none;
  margin-top: 33.5%;
  margin-left: 2.5%;
  margin-right: : 3%;
  width: 95%;
}

#contact {
  display: none;
  width: 35%;
  margin-top: 5%;
  left: 5%;
}

#insta {
  display: none;
  width: 8%;
  margin-top: 14%;
  left: 27%;
}

#twitter {
  display: none;
  width: 10%;
  margin-top: 13%;
  left: 11%;
}

.container {
  filter: brightness(100%);
  position: absolute;
  width: 100%;
}

img {
  position: absolute;
}

#homepage {
  height: auto;
  width: 100%;
}

#camera {
  cursor: pointer;
  margin-top: 35.5%;
  right: 59%;
  width: 10.15%;
}

#camera:hover, #plaque:hover, #photo1:hover, #computer:hover, #photo2:hover, #myself:hover, #ex:hover, #twitter:hover, #insta:hover {
  transform: scale(1.05, 1.05);
}

#camera:active, #plaque:active, #photo1:active, #computer:active, #photo2:active, #myself:active, #rose:active, #ex:active, #twitter:active, #insta:active {
  transform: translateY(2px);
}

#plaque {
  cursor: pointer;
  margin-top: 25.9%;
  right: 18.2%;
  width: 6.85%;
}

#photo1 {
  cursor: pointer;
  margin-top: 7%;
  right: 26%;
  width: 19.8%;
}

#computer {
  cursor: pointer;
  margin-top: 27.5%;
  right: 42.5%;
  width: 14.5%;
}

#photo2 {
  cursor: pointer;
  margin-top: 7%;
  right: 57.1%;
  width: 13%;
}

#myself {
  cursor: pointer;
  margin-top: 25.70%;
  right: 36.66%;
  width: 12.1%;
}

#rose {
  cursor: pointer;
  margin-top: 14.71%;
  right: 77%;
  width: 5.5%;
}

/* SOURCE:https://www.w3schools.com/howto/howto_js_slideshow.asp */
.slideshow-container, .slideshow-container2 {
  width: 100%;
  position: absolute;
}

/* Hide the images by default */
.mySlides, .mySlides2 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  user-select: none;
}

#next, #next2 {
  display: none;
  width: 5%;
  margin-top: 30%;
  left: 90%;
}

#prev, #prev2 {
  display: none;
  width: 5%;
  margin-top: 30%;
  right: 90%;
}

#prev:hover, #next:hover {
  transform: scale(1.05, 1.05);
}

#prev:active, #next:active {
  transform: translateY(2px);
}

#nature1 {
  width: 40%;
  left: 29%;
  margin-top: 3%;
}

#nature2 {
  width: 50%;
  left: 25%;
  margin-top: 3%;
}

#nature3 {
  margin-top: 3%;
  width: 65%;
  left: 17%;
}

#nature4 {
  margin-top: 5%;
  width: 65%;
  left: 17%;
}

#nature5 {
  margin-top: 3%;
  width: 41%;
  left: 29%;
}

#portrait1 {
  width: 70%;
  left: 15%;
  margin-top: 3%;
}

#portrait2 {
  width: 35%;
  left: 32%;
  margin-top: 3%;
}

#portrait3 {
  margin-top: 3%;
  width: 60%;
  left: 20%;
}

#portrait4 {
  margin-top: 2%;
  width: 36%;
  left: 31%;
}

#portrait5 {
  margin-top: 3%;
  width: 70%;
  left: 15%;
}

#portrait6 {
  margin-top: 3%;
  width: 41%;
  left: 29%;
}

#portrait7 {
  margin-top: 3%;
  width: 62%;
  left: 19%;
}

#portrait8 {
  margin-top: 3%;
  width: 35%;
  left: 33%;
}
#portrait9 {
  margin-top: 3%;
  width: 70%;
  left: 15%;
}
#portrait10 {
  margin-top: 3%;
  width: 70%;
  left: 15%;
}
#portrait11 {
  margin-top: 3%;
  width: 70%;
  left: 15%;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

#exSlide1 {
  display: none;
  width: 4%;
  margin-top: 1%;
  right: 1%;
}
